@font-face {
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasDisplay-Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("NeueHaasDisplay-Light"),
    url("../fonts/NeueHaasDisplay-Light.woff2") format("woff2"),
    url("../fonts/NeueHaasDisplay-Light.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasDisplay-Roman";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("NeueHaasDisplay-Roman"),
    url("../fonts/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("../fonts/NeueHaasDisplay-Roman.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasDisplay-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("NeueHaasDisplay-Medium"),
    url("../fonts/NeueHaasDisplay-Medium.woff2") format("woff2"),
    url("../fonts/NeueHaasDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "Luam-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Luam-Bold"), url("../fonts/Luam-Bold.woff2") format("woff2"),
    url("../fonts/Luam-Bold.woff") format("woff");
}
