html,
body {
  height: 100%;
}

// Firefox
html {
  scrollbar-width: thin;
  scrollbar-color: $default #fff;
}

// Other Browsers
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $default;
  &:horizontal {
    border-radius: 4px;
  }
}

body {
  display: flex;
  flex-direction: column;
  @extend %mont-400;
  font-size: 16px;
  line-height: 1.2;
  color: $default;
  background-color: #fff;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  padding-top: 60px;
  &--home {
    padding-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  svg {
    display: block;
  }
}

.title {
  @extend %neue-400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-align: center;
}

.link {
  @extend %mont-700;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid $default;
  color: $default;
  letter-spacing: 0.03em;
}

.link-box {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid $default;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.logo--dark {
  svg path {
    fill: $default;
  }
}

.breadcrumbs {
  @extend %mont-500;  
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  position: relative;
  z-index: 90;
  &__item {
    position: relative;
    font-size: 12px;
    &:not(:last-child) {
      padding-right: 10px;
      &::after {
        content: "/";
        position: absolute;
        right: 0;
      }
    }
    &:last-child {
      .breadcrumbs__link {
        color: $gray;
      }
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px 15px;
}
