html,
body {
  height: 100%;
}

// Firefox
html {
  scrollbar-width: thin;
  scrollbar-color: $default #fff;
}

// Other Browsers
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $default;
  &:horizontal {
    border-radius: 4px;
  }
}

body {
  display: flex;
  flex-direction: column;
  @extend %mont-400;
  font-size: 16px;
  line-height: 1.2;
  color: $default;
  background-color: #fff;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  padding-top: 60px;
  &--home {
    padding-top: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  svg {
    display: block;
  }
}

.title {
  @extend %neue-400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-align: center;
}

.link {
  @extend %mont-700;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid $default;
  color: $default;
  letter-spacing: 0.03em;
}

.link-box {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 140;
  transition: 0.25s ease-in;
  &.overlay--active {
    visibility: visible;
    opacity: 1;
  }
}

.product-item {
  @extend %neue-400;
  font-size: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
  &__img-box {
    position: relative;
  }
  &__img {
    height: 214px;
    width: 137px;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 7px;
  }
  &__name-link {
    display: block;
    margin-bottom: 3px;
  }
  &__name {
    font-size: inherit;
  }
  &__price {
    color: $gray;
  }
  &__old-price {
    text-decoration: line-through;
    color: #c4c4c4;
    margin-left: 8px;
  }
  &::before {
    position: absolute;
    z-index: 7;
    top: 13px;
    left: 13px;
    @extend %mont-500;
    letter-spacing: 0.03em;
    color: #c7011c;
  }
  &--sale {
    &::before {
      content: "sale";
    }
    .product-item__price {
      color: #c7011c;
    }
  }
  &--new {
    &::before {
      content: "new";
      color: $default;
    }
  }
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid $default;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.logo--dark {
  svg path {
    fill: $default;
  }
}

.breadcrumbs {
  @extend %mont-500;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  position: relative;
  z-index: 90;
  &__item {
    position: relative;
    font-size: 12px;
    &:not(:last-child) {
      padding-right: 10px;
      &::after {
        content: "/";
        position: absolute;
        right: 0;
      }
    }
    &:last-child {
      .breadcrumbs__link {
        color: $gray;
      }
    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px 15px;
}

.count {
  @extend %neue-400;
  font-size: 16px;
  color: $default;
}

// number
.jq-number {
  width: 107px;
  height: 38px;
  border: 1px solid $gray;
  padding: 0;
  position: relative;
}

.jq-number__field {
  width: 39px;
  height: 36px;
  border: none;
  border-right: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
  margin: 0 auto;
}

.jq-number__field input {
  padding: 9px 0 8px;
  width: 37px;
  height: 35px;
  text-align: center;
  border: none;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  width: 33px;
  height: 36px;
  cursor: pointer;
}

.jq-number__spin:after {
  content: "-";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jq-number__spin.plus {
  right: 0;
}

.jq-number__spin.plus::after {
  content: "+";
}

// select
.jq-selectbox {
  width: 100%;
  cursor: pointer;
}

.jq-selectbox__select {
  height: 38px;
  padding: 0 45px 0 12px;
  border: 1px solid $gray;
}

.jq-selectbox__select-text {
  height: 100%;
  display: flex;
  align-items: center;
}

.jq-selectbox li {
  min-height: 38px;
  padding: 6px 36px;
  color: #231f20;
  display: flex;
  align-items: center;
  background-color: #fff;
  &:hover {
    background-color: $light-gray;
  }
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 6px;
  height: 11px;
  background-image: url("../images/icons/angle-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.jq-selectbox__dropdown {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
}

.jq-selectbox.opened {
  .jq-selectbox__trigger-arrow {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  &__angle {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__pages {
    @extend %neue-400;
    font-size: 18px;
    letter-spacing: 0.03em;
  }
}

.categories {
  display: grid;
  gap: 30px;
  &__category {
    @extend %mont-500;
  }
}

.filter {
  &__item {
    margin-bottom: 33px;
    transition: all 0.5s;
    &--open {
      .filter__title::before {
        background-image: url("../images/icons/minus-black.svg");
      }
      margin-bottom: 0;
    }
  }
  &__form {
    width: 216px;
  }
  &__title {
    @extend %mont-500;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid $default;
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 15px;
      height: 15px;
      background-image: url("../images/icons/plus-black.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__content {
    display: none;
    padding: 19px 0 33px;
  }
  &__label {
    display: block;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__checkbox {
    display: block;
    font-size: 15px;
    padding: 5px 20px 5px 34px;
    cursor: pointer;
  }
  &__input {
    &:checked + .filter-color__checkbox {
      background-color: $main-gray;
    }
    &:checked + .filter-price__checkbox {
      color: $default;
    }
  }
  &__reset-btn {
    font-size: 14px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid $default;
  }
}

.filter-color {
  &__name {
    padding-left: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }
    &--limestone::before {
      background-color: #6a6b66;
    }
    &--duckgreen::before {
      background-color: #605c37;
    }
    &--burgundy::before {
      background-color: #c1001d;
    }
    &--classicbrown::before {
      background-color: #774c1e;
    }
    &--pineforest::before {
      background-color: #9ea8a6;
    }
    &--barharborbeige::before {
      background-color: #eed9d0;
    }
    &--mustard::before {
      background-color: #d3bb44;
    }
  }
}

.filter-price {
  &__checkbox {
    @extend %neue-300;
    font-size: 13px;
    color: $gray;
    text-transform: uppercase;
  }
  &__count {
    margin-left: 8px;
    color: $gray;
  }
}
