html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %mont-400;
  font-size: 16px;
  line-height: 1.2;
  color: $default;
  background-color: #fff;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  svg {
    display: block;
  }
}

.title {
  @extend %neue-400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-align: center;
}

.link {
  @extend %mont-700;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid $default;
  color: $default;
  letter-spacing: 0.03em;
}

.link-box {
  text-align: center;
}

.hide-overflow {
  overflow: hidden;
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid $default;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

summary::marker {
  content: none;
}
