@media (min-width: 480px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 480px;
  }
  .title {
    font-size: 45px;
  }
  .intro {
    &__descr {
      padding: 43px 28px 48px 24px;
    }
    &__inner {
      max-width: 428px;
    }
    &__title {
      font-size: 40px;
    }
  }
  .offers {
    padding: 80px 0;
    &__inner p {
      font-size: 20px;
    }
    &__categories {
      margin-top: 80px;
    }
    &__name {
      font-size: 25px;
    }
    &__box {
      padding: 28px 24px;
    }
  }
  .benefits {
    padding: 68px 77px 87px 82px;
    &__name {
      font-size: 23px;
    }
    &__list {
      gap: 60px;
    }
  }
  .bestsellers {
    padding-top: 80px;
    &__list {
      gap: 27px 19px;
    }
    &__title {
      margin-bottom: 27px;
    }
  }
  .product-item {
    font-size: 13px;
    &__img {
      height: 321px;
    }
    &::before {
      top: 16px;
      left: 18px;
    }
  }
  .feedback {
    padding: 80px 0;
    &__slide p {
      font-size: 16px;
      max-width: 403px;
      margin: 26px auto 74px;
    }
    &__avatar {
      margin-bottom: 16px;
    }
  }
  .blog-intro {
    padding-top: 41px;
    background: linear-gradient(to bottom, #ecebeb 81%, #fff 81%);
    &__title {
      margin-bottom: 27px;
    }
    &__img {
      height: 234px;
      margin-bottom: 26px;
    }
    &__item p {
      font-size: 15px;
    }
    &__list {
      gap: 26px;
    }
  }
  .subscribe {
    padding: 86px 0;
    &__form {
      p {
        font-size: 16px;
      }
    }
    &__input {
      margin-bottom: 10px;
    }
  }
  .footer {
    &__title {
      padding-left: 21px;
      &::before {
        right: 13px;
      }
    }
    &__item {
      padding-left: 16px;
    }
  }

  .blog {
    &__img {
      height: 400px;
      margin-bottom: 37px;
    }
    &__article {
      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
    &__filter-list {
      justify-content: space-between;
    }
  }
}

@media (min-width: 768px) {
  .menu {
    max-width: 768px;
  }
  .container {
    max-width: 768px;
    padding: 0 25px;
  }
  .menu {
    &__btn {
      display: none;
    }
    &__logo {
      position: unset;
      transform: unset;
      path {
        fill: $main-gray;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      overflow-y: unset;
      gap: 30px;
      font-size: 15px;
      text-transform: capitalize;
      position: absolute;
      bottom: unset;
      left: 50%;
      transform: translateX(-50%);
      right: unset;
      width: auto;
      padding: unset;
      height: auto;
      background-color: unset;
    }
  }
  .intro {
    flex-direction: row-reverse;
    &__bg {
      height: 100vh;
      width: 100%;
    }
    &__descr {
      padding: 0 25px 64px 25px;
      display: flex;
      align-items: flex-end;
    }
    &__inner {
      p {
        width: 200px;
        margin-bottom: 17px;
      }
    }
    &__shop {
      width: 250px;
      transform: unset;
      transform: translateX(-200%);
      &.intro__shop--active {
        transform: translateX(0);
      }
    }
    &__list {
      position: unset;
      width: unset;
    }
    &__nesting-box {
      left: 250px;
      height: 100vh;
      align-items: center;
    }
    &__nesting {
      display: grid;
      justify-content: center;
      height: calc(100vh - 150px);
      overflow-y: auto;
      gap: 10px;
      grid-auto-rows: max-content;
    }
  }
  .offers {
    padding: 100px 0 110px;
    &__inner p {
      font-size: 25px;
    }
    &__categories {
      margin-top: 100px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 211px 276px;
      gap: 25px 16px;
    }
    &__box {
      padding: 28px 30px;
    }
    &__category {
      &:nth-child(2n) {
        order: 1;
      }
      &:nth-child(1) {
        grid-column: 1 / 5;
      }
      &:nth-child(3) {
        grid-column: 5 / 7;
      }
      &:nth-child(2) {
        grid-column: 1 / 4;
      }
      &:nth-child(4) {
        grid-column: 4 / 7;
      }
    }
  }
  .benefits {
    padding: 62px 0;
    &__name {
      font-size: 23px;
    }
    &__list {
      flex-direction: row;
      gap: 18px;
    }
    &__item {
      width: 33%;
    }
  }
  .bestsellers {
    padding-top: 110px;
    &__list {
      grid-template-columns: unset;
      grid-template-rows: unset;
      gap: 23px;
      overflow-x: auto;
      grid-auto-flow: column;
      grid-auto-columns: 223px;
    }
    &__title {
      margin-bottom: 55px;
    }
  }
  .product-item {
    &__img {
      height: 331px;
      margin-bottom: 13px;
    }
    &__name-link {
      margin-bottom: 5px;
    }
  }
  .feedback {
    padding: 110px 0;
    &__slide {
      background-size: 212px 201px;
      p {
        font-size: 25px;
        max-width: 534px;
        margin: 52px auto 45px;
      }
    }
    &__avatar {
      width: 98px;
      height: 98px;
    }
  }
  .blog-intro {
    padding-top: 34px;
    background: linear-gradient(to bottom, #ecebeb 54%, #fff 54%);
    &__title {
      margin-bottom: 46px;
    }
    &__img {
      height: 221px;
      margin-bottom: 17px;
    }
    &__item p {
      font-size: 15px;
    }
    &__list {
      overflow-x: auto;
      grid-auto-flow: column;
      grid-auto-columns: 303px;
    }
  }
  .subscribe {
    padding: 110px 0;
    max-width: 750px;
    margin: 0 auto;
    &__form {
      flex-direction: row;
      flex-wrap: wrap;
      p {
        font-size: 25px;
        margin-bottom: 26px;
      }
    }
    &__box {
      display: flex;
    }
    &__input {
      margin-bottom: unset;
    }
    &__btn {
      padding: 15px 55px;
      width: unset;
    }
  }
  .footer {
    padding: 55px 0 30px;
    &__inner {
      gap: 34px 46px;
    }
    &__brand {
      display: block;
    }
    &__nav-box {
      width: unset;
      border-bottom: unset;
      margin-bottom: unset;
    }
    &__nav {
      display: block;
      padding: unset;
    }
    &__title {
      padding: 0;
      margin-bottom: 7px;
      text-transform: capitalize;
      &::before {
        content: unset;
      }
    }
    &__item {
      padding-left: 0;
    }
    &__link {
      padding: 3px 0;
    }
    &__box {
      justify-content: flex-end;
    }
    &__locator-link {
      margin-top: unset;
      margin-right: 80px;
    }
    .socials {
      margin-top: unset;
    }
    &__copy {
      margin-top: -23px;
    }
  }

  .blog {
    &__filter {
      margin-bottom: 40px;
    }
    &__img {
      margin-bottom: 0;
    }
    &__content {
      margin-left: 15px;
    }
    &__article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        .blog__content {
          grid-row: 1;
          margin: 0 15px 0 0;
        }
      }
    }
    &__category {
      font-size: 13px;
    }
    &__title {
      font-size: 30px;
    }
  }
}

@media (min-width: 1000px) {
  .menu {
    max-width: 1000px;
  }
  .container {
    max-width: 1000px;
    padding: 0 20px;
  }
  .intro {
    &__inner p {
      width: 280px;
    }
    &__descr {
      padding-bottom: 75px;
    }
    &__shop {
      width: 330px;
    }
    &__nesting-box {
      left: 330px;
    }
  }
  .offers {
    &__inner p {
      max-width: 743px;
      font-size: 25px;
      margin: 0 auto 23px;
    }
    &__categories {
      grid-template-columns: repeat(12, 1fr);
      gap: 25px;
    }
    &__category {
      &:nth-child(1) {
        grid-column: 1 / 8;
      }
      &:nth-child(3) {
        grid-column: 8 / 13;
      }
      &:nth-child(2) {
        grid-column: 1 / 6;
      }
      &:nth-child(4) {
        grid-column: 6 / 13;
      }
    }
  }
  .benefits {
    &__list {
      gap: 67px;
    }
  }
  .bestsellers {
    &__list {
      gap: 22px;
      overflow-x: hidden;
      justify-content: center;
    }
  }
  .feedback {
    &__slide p {
      max-width: 691px;
      margin-bottom: 88px;
    }
  }
  .blog-intro {
    &__list {
      gap: 25px;
      overflow-x: hidden;
      justify-content: center;
    }
    &__name {
      max-width: 255px;
    }
  }
  .footer {
    &__inner {
      margin-bottom: 38px;
    }
    &__box {
      display: block;
      width: unset;
    }
    &__locator-link {
      margin: 0 0 17px 0;
    }
    &__copy {
      margin-top: unset;
    }
  }

  .blog {
    &__img {
      height: 529px;
    }
    &__content {
      margin-left: 27px;
      gap: 37px;
    }
    &__article {
      &:nth-child(even) {
        .blog__content {
          margin: 0 27px 0 0;
        }
      }
    }
  }
}

@media (min-width: 1180px) {
  .menu {
    max-width: 1180px;
  }
  .container {
    max-width: 1180px;
  }
  .offers {
    padding: 143px 0 150px;
    &__categories {
      grid-template-rows: 251px 328px;
      margin-top: 143px;
    }
  }
  .benefits {
    padding: 66px 0;
    &__list {
      gap: 122px;
    }
  }
  .bestsellers {
    padding-top: 150px;
    &__list {
      gap: 30px;
      grid-auto-columns: 263px;
    }
  }
  .product-item {
    font-size: 15px;
    &__img {
      height: 362px;
    }
    &__old-price {
      margin-left: 14px;
    }
  }
  .feedback {
    padding: 150px 0;
    &__slide p {
      max-width: 805px;
    }
  }
  .blog-intro {
    padding-top: 49px;
    &__list {
      grid-auto-columns: 360px;
    }
    &__img {
      height: 263px;
    }
    &__name,
    &__date,
    &__item p {
      font-size: 18px;
    }
    &__date {
      margin-bottom: 19px;
    }
  }
  .subscribe {
    padding: 150px 0;
  }

  .blog {
    &__img {
      height: 621px;
    }
    &__content {
      margin-left: 30px;
    }
    &__article {
      &:nth-child(even) {
        .blog__content {
          margin: 0 30px 0 0;
        }
      }
    }
  }
}
