@media (min-width: 480px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 480px;
  }
  .intro {
    &__descr {
      padding: 43px 28px 48px 24px;
    }
    &__title {
      font-size: 40px;
    }
  }
  .offers {
    padding: 80px 0;
    &__categories {
      margin-top: 80px;
    }
    &__name {
      font-size: 25px;
      margin-bottom: 8px;
    }
    &__box {
      padding: 28px 24px;
    }
  }
  .benefits {
    padding: 68px 92px 87px 97px;
    &__name {
      font-size: 23px;
    }
    &__list {
      gap: 60px;
    }
  }
  .bestsellers {
    padding-top: 80px;
    &__list {
      gap: 27px 19px;
    }
    &__title {
      margin-bottom: 27px;
    }
  }
  .product-item {
    font-size: 13px;
    &__img {
      height: 321px;
    }
  }
  .feedback {
    padding: 80px 0;
    &__slide p {
      font-size: 16px;
      max-width: 403px;
      margin: 26px auto 74px;
    }
    &__avatar {
      margin-bottom: 16px;
    }
  }
  .blog-intro {
    padding-top: 41px;
    background: linear-gradient(to bottom, #ecebeb 75%, #fff 75%);
    &__title {
      margin-bottom: 27px;
    }
    &__img {
      height: 234px;
      margin-bottom: 26px;
    }
    &__item p {
      font-size: 15px;
    }
    &__list {
      gap: 26px;
    }
  }
  .subscribe {
    padding: 86px 0;
    &__form {
      p {
        font-size: 16px;
      }
    }
    &__input {
      margin-bottom: 10px;
    }
  }
  .footer {
    &__title {
      padding-left: 21px;
      &::before {
        right: 13px;
      }
    }
  }
}
