@media (min-width: 480px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 480px;
  }
  .title {
    font-size: 45px;
  }
  .menu {
  }
  .intro {
    &__descr {
      padding: 43px 28px 48px 24px;
    }
    &__inner {
      max-width: 428px;
    }
    &__title {
      font-size: 40px;
    }
  }
  .offers {
    padding: 80px 0;
    &__inner p {
      font-size: 20px;
    }
    &__categories {
      margin-top: 80px;
    }
    &__name {
      font-size: 25px;
    }
    &__box {
      padding: 28px 24px;
    }
  }
  .benefits {
    padding: 68px 77px 87px 82px;
    &__name {
      font-size: 23px;
    }
    &__list {
      gap: 60px;
    }
  }
  .bestsellers {
    padding-top: 80px;
    &__title {
      margin-bottom: 27px;
    }
  }
  .list {
    gap: 27px 19px;
  }
  .product-item {
    font-size: 13px;
    &__img {
      height: 321px;
      width: 215px;
    }
    &::before {
      top: 16px;
      left: 18px;
    }
  }
  .feedback {
    padding: 80px 0;
    &__slide p {
      font-size: 16px;
      max-width: 403px;
      margin: 26px auto 74px;
    }
    &__avatar {
      margin-bottom: 16px;
    }
  }
  .blog-intro {
    padding-top: 41px;
    background: linear-gradient(to bottom, #ecebeb 81%, #fff 81%);
    &__title {
      margin-bottom: 27px;
    }
    &__img {
      height: 234px;
      margin-bottom: 26px;
    }
    &__item p {
      font-size: 15px;
    }
    &__list {
      gap: 26px;
    }
  }
  .subscribe {
    padding: 86px 0;
    &__form {
      p {
        font-size: 16px;
      }
    }
    &__input {
      margin-bottom: 10px;
    }
  }
  .footer {
    &__title {
      padding-left: 21px;
      &::before {
        right: 13px;
      }
    }
    &__item {
      padding-left: 16px;
    }
  }

  .blog {
    &__img {
      height: 400px;
      margin-bottom: 37px;
    }
    &__article {
      &:not(:last-child) {
        margin-bottom: 80px;
      }
    }
    &__filter-list {
      justify-content: space-between;
    }
  }

  .product {
    &__img {
      height: 440px;
    }
    &__name {
      font-size: 50px;
    }
    &__price {
      margin-bottom: 30px;
    }
    &__content {
      margin-bottom: 90px;
    }
    &__title {
      font-size: 25px;
      margin-bottom: 30px;
    }
    &__info-box {
      padding: 30px 0;
    }
    &__subtitle {
      margin-bottom: 0;
      max-width: 140px;
      width: 100%;
    }
    &__info-inner {
      display: flex;
      gap: 20px;
      p {
        max-width: 309px;
      }
    }
    &__details {
      margin-bottom: 50px;
    }
    &__reviews {
      margin-bottom: 50px;
    }
  }
  .might-like__title,
  .recently__title {
    font-size: 35px;
  }
  .might-like {
    margin-bottom: 80px;
  }
  .breadcrumbs {
    gap: 7px;
    &__item {
      &:not(:last-child) {
        padding-right: 12px;
      }
    }
  }

  .cart {
    &__title {
      font-size: 25px;
    }
    &__link {
      margin-bottom: 40px;
    }
    &__tab-list {
      padding: 20px 0;
    }
    &__tab-item {
      font-size: 15px;
    }
    &__item {
      padding: 40px 0;
    }
    &__img {
      width: 215px;
      height: 250px;
    }
    &__descr {
      margin-bottom: 24px;
    }
    &__name {
      font-size: 17px;
      max-width: 175px;
      margin-bottom: 9px;
    }
    &__color-wrapper {
      gap: 10px;
      font-size: 15px;
    }
    &__color {
      width: 16px;
      height: 16px;
    }
    .jq-number {
      margin-bottom: 26px;
    }
    &__price-box {
      max-width: 130px;
    }
    &__old-price {
      font-size: 13px;
    }
    &__price {
      font-size: 15px;
    }
    &__item-total-price {
      font-size: 12px;
    }
    &__shipping {
      font-size: 15px;
    }
    .jq-selectbox__select {
      height: 49px;
    }
    .jq-selectbox__dropdown {
      top: 49px !important;
    }
    .jq-selectbox li {
      min-height: 49px;
    }
    &__total-names,
    &__total-prices {
      font-size: 15px;
    }
    &__form {
      padding-bottom: 80px;
    }
  }

  .catalog {
    .breadcrumbs {
      margin-bottom: 29px;
      &__item {
        font-size: 15px;
      }
    }
    .filter {
      top: 166px;
    }
    &__control {
      font-size: 18px;
    }
    &__chosen {
      font-size: 20px;
    }
    &__items {
      gap: 24px 19px;
      padding-bottom: 23px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 25px;
  }
  .menu {
    max-width: 768px;
    &__btn {
      display: none;
    }
    &__logo {
      position: unset;
      transform: unset;
      path {
        fill: $main-gray;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      overflow-y: unset;
      gap: 30px;
      font-size: 15px;
      text-transform: capitalize;
      position: absolute;
      bottom: unset;
      left: 50%;
      transform: translateX(-50%);
      right: unset;
      width: auto;
      padding: unset;
      height: auto;
      background-color: unset;
    }
    .categories{
      display: none;
    }
  }
  .intro {
    flex-direction: row-reverse;
    &__bg {
      height: 100vh;
      width: calc(50vw + 142px);
    }
    &__descr {
      padding-bottom: 64px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: calc(50vw - 142px);
    }
    &__descr-box {
      position: absolute;
      left: 0;
      width: 100%;
    }
    &__inner {
      margin: unset;
      max-width: 200px;
      p {
        margin-bottom: 17px;
      }
    }
    &__shop {
      width: calc(50vw - 142px);
      transform: unset;
      transform: translateX(-200%);
      &.intro__shop--active {
        transform: translateX(0);
      }
    }
    &__list {
      position: unset;
      width: unset;
    }
    &__nesting-box {
      left: calc(50vw - 142px);
      height: 100vh;
      align-items: center;
    }
    &__nesting {
      display: grid;
      justify-content: center;
      height: calc(100vh - 150px);
      overflow-y: auto;
      gap: 10px;
      grid-auto-rows: max-content;
    }
  }
  .offers {
    padding: 100px 0 110px;
    &__inner p {
      font-size: 25px;
    }
    &__categories {
      margin-top: 100px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 211px 276px;
      gap: 25px 16px;
    }
    &__box {
      padding: 28px 30px;
    }
    &__category {
      &:nth-child(2n) {
        order: 1;
      }
      &:nth-child(1) {
        grid-column: 1 / 5;
      }
      &:nth-child(3) {
        grid-column: 5 / 7;
      }
      &:nth-child(2) {
        grid-column: 1 / 4;
      }
      &:nth-child(4) {
        grid-column: 4 / 7;
      }
    }
  }
  .benefits {
    padding: 62px 0;
    &__name {
      font-size: 23px;
    }
    &__list {
      flex-direction: row;
      gap: 18px;
    }
    &__item {
      width: 33%;
    }
  }
  .bestsellers {
    padding-top: 110px;
    &__title {
      margin-bottom: 55px;
    }
  }
  .list {
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: 23px;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 223px;
  }
  .product-item {
    &__img {
      height: 331px;
      width: 221px;
      margin-bottom: 13px;
    }
    &__name-link {
      margin-bottom: 5px;
    }
  }
  .feedback {
    padding: 110px 0;
    &__slide {
      background-size: 212px 201px;
      p {
        font-size: 25px;
        max-width: 534px;
        margin: 52px auto 45px;
      }
    }
    &__avatar {
      width: 98px;
      height: 98px;
    }
  }
  .blog-intro {
    padding-top: 34px;
    background: linear-gradient(to bottom, #ecebeb 54%, #fff 54%);
    &__title {
      margin-bottom: 46px;
    }
    &__img {
      height: 221px;
      margin-bottom: 17px;
    }
    &__item p {
      font-size: 15px;
    }
    &__list {
      overflow-x: auto;
      grid-auto-flow: column;
      grid-auto-columns: 303px;
    }
  }
  .subscribe {
    padding: 110px 0;
    max-width: 750px;
    margin: 0 auto;
    &__form {
      flex-direction: row;
      flex-wrap: wrap;
      p {
        font-size: 25px;
        margin-bottom: 26px;
      }
    }
    &__box {
      display: flex;
    }
    &__input {
      margin-bottom: unset;
    }
    &__btn {
      padding: 15px 55px;
      width: unset;
    }
  }
  .footer {
    padding: 55px 0 30px;
    &__inner {
      gap: 34px 46px;
    }
    &__brand {
      display: block;
    }
    &__nav-box {
      width: unset;
      border-bottom: unset;
      margin-bottom: unset;
    }
    &__nav {
      display: block;
      padding: unset;
    }
    &__title {
      padding: 0;
      margin-bottom: 7px;
      text-transform: capitalize;
      &::before {
        content: unset;
      }
    }
    &__item {
      padding-left: 0;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &__link {
      padding: 1px 0;
    }
    &__box {
      justify-content: flex-end;
    }
    &__locator-link {
      margin-top: unset;
      margin-right: 80px;
    }
    .socials {
      margin-top: unset;
    }
    &__copy {
      margin-top: -23px;
    }
  }

  .blog {
    &__filter {
      margin-bottom: 40px;
    }
    &__img {
      margin-bottom: 0;
    }
    &__content {
      margin-left: 15px;
    }
    &__article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        .blog__content {
          grid-row: 1;
          margin: 0 15px 0 0;
        }
      }
    }
    &__category {
      font-size: 13px;
    }
    &__title {
      font-size: 30px;
    }
  }

  .product {
    .breadcrumbs {
      justify-content: flex-end;
      margin-bottom: -14px;
    }
    &__info {
      display: flex;
      gap: 27px;
      margin-bottom: 110px;
    }
    &__photos {
      width: 340px;
      height: 414px;
      margin-bottom: 0;
      .slick-dots {
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: -28px;
        bottom: unset;
        right: unset;
        button {
          background-color: $main-gray;
        }
      }
    }
    &__img {
      height: 414px;
      width: 327px;
      margin-left: auto;
    }
    &__content {
      margin: 25px 0 0 0;
    }
    &__price {
      margin-bottom: 23px;
    }
    &__form-box {
      gap: 7px;
    }
    .jq-selectbox {
      width: 229px;
      margin-bottom: 18px;
    }
    .jq-number {
      margin-right: 9px;
    }
    &__title {
      font-size: 35px;
      margin-bottom: 41px;
    }
    &__info-box {
      padding: 41px 0;
      p {
        font-size: 17px;
      }
    }
    &__info-inner {
      gap: 63px;
      p {
        font-size: 17px;
        max-width: 100%;
      }
    }
    &__subtitle {
      max-width: 245px;
      font-size: 30px;
    }
    &__dimensios-item {
      font-size: 17px;
    }
    &__details {
      margin-bottom: 85px;
    }
    &__reviews {
      margin-bottom: 44px;
    }
  }
  .might-like__title,
  .recently__title {
    font-size: 45px;
    margin-bottom: 47px;
  }
  .might-like {
    margin-bottom: 110px;
  }
  .review {
    &__info-box {
      position: relative;
      display: grid;
      grid-template-columns: 215px auto;
      gap: 15px 30px;
      p {
        grid-column: 2;
      }
    }
    &__box {
      position: absolute;
      top: 44px;
      width: 100%;
    }
    &__author {
      grid-row: 2;
      margin-bottom: 0;
    }
    &__title {
      grid-column: 2;
      margin-bottom: 0;
    }
  }

  .cart {
    &__title {
      font-size: 30px;
      margin-bottom: 12px;
    }
    &__tab-item {
      &:not(:first-child) {
        display: block;
      }
      &:nth-child(1) {
        margin-right: 83px;
      }
      &:nth-child(2) {
        margin-right: 138px;
      }
      &:nth-child(3) {
        margin-right: 110px;
      }
    }
    &__items {
      margin-bottom: 0;
    }
    &__item {
      padding: 27px 0;
    }
    &__inner {
      align-items: center;
      gap: 15px;
    }
    &__img {
      width: 107px;
      height: 107px;
    }
    &__info {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
    &__descr {
      width: 205px;
      margin: 0 38px 0 0;
    }
    &__name {
      font-size: 15px;
      max-width: 205px;
      margin-bottom: 5px;
    }
    &__color-wrapper {
      font-size: 13px;
    }
    .jq-number {
      margin: 0 84px 0 0;
    }
    &__price-box {
      max-width: unset;
      margin-left: 0;
    }
    &__item-total-price {
      font-size: 9px;
    }
    &__remove-btn {
      top: 50%;
      transform: translateY(-50%);
    }
    &__shipping-wrapper {
      margin-bottom: 0;
    }
    &__shipping {
      width: 311px;
    }
    &__bottom {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      row-gap: 26px;
    }
    &__total {
      gap: 69px;
      margin-bottom: 0;
    }
    &__checkout-btn {
      width: 175px;
      margin-left: auto;
      grid-column: 2;
    }
    &__form {
      padding-bottom: 110px;
    }
  }

  .catalog {
    .breadcrumbs {
      margin-bottom: 37px;
      grid-column: 2;
    }
    .filter {
      display: block;
      position: unset;
      padding: 0;
      border: none;
    }
    &__wrapper {
      display: grid;
      column-gap: 11px;
    }
    &__side {
      .categories {
        display: grid;
        margin-bottom: 33px;
      }
    }
    &__info {
      margin-bottom: 0;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      gap: 11px;
    }
    .filter-btn {
      display: none;
    }
    &__items {
      gap: 30px;
    }
  }

  .pagination {
    &__pages {
      font-size: 20px;
    }
  }
}

@media (min-width: 1000px) {
  .menu {
    max-width: 1000px;
  }
  .container {
    max-width: 1000px;
    padding: 0 20px;
  }
  .intro {
    &__inner {
      max-width: 284px;
    }
    &__bg {
      width: calc(50vw + 175px);
    }
    &__descr {
      padding-bottom: 75px;
      width: calc(50vw - 175px);
    }
    &__shop {
      width: calc(50vw - 175px);
    }
    &__nesting-box {
      width: calc(50vw - 175px);
    }
  }
  .offers {
    &__inner p {
      max-width: 743px;
      font-size: 25px;
      margin: 0 auto 23px;
    }
    &__categories {
      grid-template-columns: repeat(12, 1fr);
      gap: 25px;
    }
    &__category {
      &:nth-child(1) {
        grid-column: 1 / 8;
      }
      &:nth-child(3) {
        grid-column: 8 / 13;
      }
      &:nth-child(2) {
        grid-column: 1 / 6;
      }
      &:nth-child(4) {
        grid-column: 6 / 13;
      }
    }
  }
  .benefits {
    &__list {
      gap: 67px;
    }
  }
  .list {
    gap: 22px;
    overflow-x: hidden;
    justify-content: center;
  }
  .feedback {
    &__slide p {
      max-width: 691px;
      margin-bottom: 88px;
    }
  }
  .blog-intro {
    &__list {
      gap: 25px;
      overflow-x: hidden;
      justify-content: center;
    }
    &__name {
      max-width: 255px;
    }
  }
  .footer {
    &__inner {
      margin-bottom: 38px;
    }
    &__box {
      display: block;
      width: unset;
    }
    &__locator-link {
      margin: 0 0 17px 0;
    }
    &__copy {
      margin-top: unset;
    }
  }

  .blog {
    &__img {
      height: 529px;
    }
    &__content {
      margin-left: 27px;
      gap: 37px;
    }
    &__article {
      &:nth-child(even) {
        .blog__content {
          margin: 0 27px 0 0;
        }
      }
    }
  }

  .product {
    .breadcrumbs {
      justify-content: unset;
      margin-left: 491px;
    }
    &__photos {
      width: 465px;
      height: 468px;
    }
    &__img {
      height: 468px;
      width: 449px;
    }
    .jq-selectbox {
      display: block;
    }
    .jq-number {
      margin-bottom: 18px;
    }
    &__btn {
      width: 203px;
    }
    &__form-box {
      gap: 0;
    }
    &__info {
      margin-bottom: 100px;
    }
    &__details {
      margin-bottom: 59px;
    }
    &__reviews {
      margin-bottom: 60px;
    }
  }

  .cart {
    &__tab-item {
      &:nth-child(1) {
        margin-right: 210px;
      }
      &:nth-child(2) {
        margin-right: 221px;
      }
      &:nth-child(3) {
        margin-right: 126px;
      }
    }
    &__inner {
      gap: 107px;
    }
    &__img {
      width: 138px;
      height: 138px;
    }
    &__descr {
      width: 266px;
      margin-right: 62px;
    }
    &__name {
      max-width: 266px;
      margin-bottom: 11px;
    }
    .jq-number {
      margin-right: 100px;
    }
  }

  .catalog {
    &__wrapper {
      column-gap: 15px;
    }
    &__items {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px 26px;
    }
  }
}

@media (min-width: 1180px) {
  .menu {
    max-width: 1180px;
  }
  .container {
    max-width: 1180px;
  }
  .intro {
    &__inner {
      max-width: 302px;
    }
    &__bg {
      width: calc(50vw + 232px);
    }
    &__descr {
      width: calc(50vw - 232px);
    }
    &__shop {
      width: calc(50vw - 232px);
    }
  }
  .offers {
    padding: 143px 0 150px;
    &__categories {
      grid-template-rows: 251px 328px;
      margin-top: 143px;
    }
  }
  .benefits {
    padding: 66px 0;
    &__list {
      gap: 122px;
    }
  }
  .bestsellers {
    padding-top: 150px;
  }
  .list {
    gap: 30px;
    grid-auto-columns: 263px;
  }
  .product-item {
    font-size: 15px;
    &__img {
      height: 362px;
      width: 263px;
    }
    &__old-price {
      margin-left: 14px;
    }
  }
  .feedback {
    padding: 150px 0;
    &__slide p {
      max-width: 805px;
    }
  }
  .blog-intro {
    padding-top: 49px;
    &__list {
      grid-auto-columns: 360px;
    }
    &__img {
      height: 263px;
    }
    &__name,
    &__date,
    &__item p {
      font-size: 18px;
    }
    &__date {
      margin-bottom: 19px;
    }
  }
  .subscribe {
    padding: 150px 0;
  }

  .blog {
    &__img {
      height: 621px;
    }
    &__content {
      margin-left: 30px;
    }
    &__article {
      &:nth-child(even) {
        .blog__content {
          margin: 0 30px 0 0;
        }
      }
    }
  }

  .product {
    .breadcrumbs {
      margin-left: 588px;
    }
    &__photos {
      width: 557px;
      height: 567px;
    }
    &__img {
      width: 535px;
      height: 567px;
    }
    &__content {
      margin-top: 35px;
      p {
        max-width: 460px;
      }
    }
    &__title {
      margin-bottom: 25px;
    }
    &__box {
      margin-bottom: 30px;
    }
    &__details-link {
      margin-bottom: 33px;
    }
    &__reviews {
      margin-bottom: 109px;
    }
    &__info-box {
      p {
        max-width: 850px;
      }
    }
    .might-like {
      margin-bottom: 140px;
    }
  }

  .cart {
    &__tab-item {
      &:nth-child(1) {
        margin-right: 253px;
      }
      &:nth-child(2) {
        margin-right: 284px;
      }
      &:nth-child(3) {
        margin-right: 128px;
      }
    }
    &__items {
      margin-bottom: 20px;
    }
    &__item {
      padding: 20px 0;
    }
    &__img {
      width: 163px;
      height: 152px;
    }
    &__inner {
      gap: 128px;
    }
    &__descr {
      width: 327px;
      margin-right: 62px;
    }
    &__name {
      font-size: 20px;
      max-width: 327px;
      margin-bottom: 11px;
    }
    &__color-wrapper {
      font-size: 15px;
    }
    .jq-number {
      margin-right: 88px;
    }
    &__old-price {
      font-size: 14px;
    }
    &__price {
      font-size: 17px;
    }
    &__item-total-price {
      font-size: 14px;
    }
    &__form {
      padding-bottom: 150px;
    }
  }
  .catalog {
    &__wrapper {
      column-gap: 55px;
    }
    &__items {
      gap: 39px 30px;
    }
  }
}
