$default: #2a364e;
$black: #10131b;
$main-gray: #ecebeb;
$gray: #9c9fa6;
$light-gray: #e5e5e5;
$hover: #5c81c5;

%mont-400 {
  font-family: "Montserrat-Regular", sans-serif;
}

%mont-500 {
  font-family: "Montserrat-Medium", sans-serif;
}

%mont-700 {
  font-family: "Montserrat-Bold", sans-serif;
}

%neue-300 {
  font-family: "NeueHaasDisplay-Light", sans-serif;
}

%neue-400 {
  font-family: "NeueHaasDisplay-Roman", sans-serif;
}

%neue-500 {
  font-family: "NeueHaasDisplay-Medium", sans-serif;
}
