$default: #2a364e;
$main-gray: #ecebeb;

%mont-400 {
  font-family: "Montserrat-Regular", sans-serif;
}

%mont-500 {
  font-family: "Montserrat-Medium", sans-serif;
}

%mont-700 {
  font-family: "Montserrat-Bold", sans-serif;
}

%neue-300 {
  font-family: "NeueHaasDisplay-Light", sans-serif;
}

%neue-400 {
  font-family: "NeueHaasDisplay-Roman", sans-serif;
}

%neue-500 {
  font-family: "NeueHaasDisplay-Medium", sans-serif;
}

%luam-700 {
  font-family: "Luam-Bold", sans-serif;
}
