@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

//----------- header -----------

.header {
  padding-top: 20px;
  z-index: 1200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  &.header--fixed {
    position: fixed;
    top: -100%;
    background-color: #fff;
  }
  &.header--pinned {
    top: 0;
  }
  &.header--white {
    background-color: #fff;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  &__btn {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
  }
  &__btn-open {
    background-image: url("../images/icons/burger-menu.svg");
    &.menu__btn-open--hidden {
      display: none;
    }
  }
  &__btn-close {
    display: none;
    background-image: url("../images/icons/cross.svg");
    &.menu__btn-close--visible {
      display: block;
    }
  }
  &__overlay {
    position: fixed;
    top: 60px;
    right: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: 140;
    transition: 0.25s ease-in;
    &.menu__overlay--active {
      visibility: visible;
      opacity: 1;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    @extend %mont-500;
    font-size: 17px;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 180;
    width: 320px;
    padding: 38px 23px 0 38px;
    height: calc(100vh - 57px);
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.2s;
    &.menu__list--active {
      transform: translateX(0);
    }
  }
  &__list-link {
    display: block;
    padding: 5px;
    &.menu__list-link--active {
      border-bottom: 1px solid $default;
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
  &__icons {
    display: flex;
    gap: 13px;
    z-index: 200;
  }
  &__link {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__link--search {
    background-image: url("../images/icons/search.svg");
  }
  &__link--cart {
    background-image: url("../images/icons/cart.svg");
  }
  &__link--heart {
    background-image: url("../images/icons/heart.svg");
    position: relative;
  }
  &__count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $default;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    color: $main-gray;
    font-size: 5px;
    line-height: 8px;
    text-align: center;
  }
}

// ----------- intro -----------

.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &__bg {
    height: calc(100vh - 213px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__descr {
    padding: 22px 24px;
    background-color: $black;
    color: $main-gray;
    p {
      font-size: 15px;
      line-height: 1.3;
      margin-bottom: 21px;
    }
  }
  &__inner {
    max-width: 279px;
    margin: 0 auto;
  }
  &__title {
    @extend %neue-300;
    font-size: 30px;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
  &__btn {
    @extend %mont-700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 2px solid $main-gray;
    &-back {
      position: absolute;
      bottom: 22px;
      left: 24px;
      border-color: $default;
    }
  }
  &__shop {
    transform: translateY(100%);
    transition: all 0.2s;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f4;
    color: $default;
    display: grid;
    justify-content: center;
    align-content: center;
    &.intro__shop--active {
      transform: translateY(0);
    }
  }
  &__list {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    justify-content: center;
    gap: 10px;
    height: calc(100vh - 150px);
    width: 100vw;
    overflow-y: auto;
  }
  &__item {
    @extend %mont-500;
    font-size: 25px;
  }
  &__link {
    display: block;
    padding: 7px;
    &.intro__link--active {
      border-bottom: 1px solid $default;
    }
  }
  &__nesting-box {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    height: calc(100vh - 145px);
    width: 100%;
    background-color: #f5f5f4;
    justify-content: center;
    overflow-y: auto;
    display: none;
    &.intro__nesting-box--active {
      display: grid;
    }
  }
  &__nesting-item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
  &__nesting-link {
    display: block;
    padding: 7px;
  }
}

//----------- offers -----------

.offers {
  padding: 60px 0 80px;
  position: relative;
  z-index: 10;
  background-color: #fff;
  &__inner {
    p {
      font-size: 18px;
      line-height: 1.4;
      text-align: center;
      margin-bottom: 21px;
    }
  }
  &__link-box {
    text-align: center;
    margin-bottom: 60px;
  }
  &__categories {
    margin-top: 60px;
    display: grid;
    grid-template-rows: repeat(4, 211px);
    gap: 16px;
  }
  &__category {
    position: relative;
    @extend %mont-500;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__box {
    width: max-content;
    margin-left: auto;
    padding: 28px 20px;
  }
  &__name {
    font-size: 20px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
  }
  &__link {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding-bottom: 2px;
    border-bottom: 1px solid $default;
  }
}

//----------- benefits -----------

.benefits {
  padding: 30px 0 40px;
  background-color: $main-gray;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__item {
    text-align: center;
    position: relative;
    padding-top: 63px;
    p {
      line-height: 1.3;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 58px;
      height: 58px;
      background-repeat: no-repeat;
    }
  }
  &__item--car::before {
    background-image: url("../images/icons/car.svg");
  }
  &__item--service::before {
    background-image: url("../images/icons/service.svg");
  }
  &__item--box::before {
    background-image: url("../images/icons/box.svg");
  }
  &__name {
    @extend %neue-500;
    font-size: 20px;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
}

//----------- bestsellers -----------

.bestsellers {
  padding-top: 70px;
  &__title {
    margin-bottom: 24px;
  }
  &__list {
    padding-bottom: 24px;
  }
}

.product-item {
  @extend %neue-400;
  font-size: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  position: relative;
  &__img-box {
    position: relative;
  }
  &__img {
    height: 214px;
    width: 137px;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 7px;
  }
  &__name-link {
    display: block;
    margin-bottom: 3px;
  }
  &__price {
    color: $gray;
  }
  &__old-price {
    text-decoration: line-through;
    color: #c4c4c4;
    margin-left: 8px;
  }
  &::before {
    position: absolute;
    z-index: 7;
    top: 13px;
    left: 13px;
    @extend %mont-500;
    letter-spacing: 0.03em;
    color: #c7011c;
  }
  &--sale {
    &::before {
      content: "sale";
    }
    .product-item__price {
      color: #c7011c;
    }
  }
  &--new {
    &::before {
      content: "new";
      color: $default;
    }
  }
}

//----------- feedback -----------

.feedback {
  padding: 70px 0;
  &__slider {
    .slick-arrow {
      position: absolute;
      top: 75px;
      width: 44px;
      height: 44px;
      z-index: 30;
    }
    .slick-prev {
      left: -16px;
    }
    .slick-next {
      right: -16px;
    }
  }
  &__slide {
    text-align: center;
    p {
      @extend %mont-500;
      line-height: 1.7;
      max-width: 241px;
      margin: 0 auto 52px;
    }
    background-image: url("../images/quote.svg");
    background-repeat: no-repeat;
    background-size: 155px 148px;
    background-position: center top;
  }
  &__avatar {
    margin: 0 auto;
    height: 69px;
    width: 69px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 23px;
  }
  &__author {
    @extend %mont-700;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

//----------- blog-intro -----------

.blog-intro {
  padding-top: 31px;
  background: linear-gradient(to bottom, $main-gray 75%, #fff 75%);
  &__title {
    margin-bottom: 24px;
  }
  &__list {
    display: grid;
    gap: 24px;
    padding-bottom: 24px;
  }
  &__item {
    p {
      @extend %mont-500;
      font-size: 14px;
      line-height: 1.3;
    }
  }
  &__img {
    object-fit: cover;
    height: 152px;
    width: 100%;
    margin-bottom: 17px;
  }
  &__name {
    @extend %mont-700;
    font-size: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  &__date {
    color: $gray;
    @extend %mont-500;
    font-size: 15px;
    margin-bottom: 14px;
  }
}

//----------- blog page -----------

.blog {
  &__filter {
    margin: 20px 0 50px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    padding: 20px 0;
  }
  &__filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px 30px;
  }
  &__btn {
    @extend %mont-500;
    font-size: 13px;
    text-transform: uppercase;
    &.mixitup-control-active {
      color: $gray;
    }
  }
  &__article {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }
  &__img {
    object-fit: cover;
    height: 258px;
    width: 100%;
    margin-bottom: 30px;
  }
  &__content {
    display: grid;
    gap: 20px;
  }
  &__category {
    @extend %neue-400;
    font-size: 12px;
    text-transform: uppercase;
    color: $gray;
  }
  &__title {
    @extend %mont-500;
    font-size: 25px;
    letter-spacing: -0.01em;
  }
}

//----------- product -----------

.product {
  padding-top: 30px;
  .breadcrumbs {
    margin-bottom: 11px;
  }
  &__photos {
    margin-bottom: 24px;
    position: relative;
    .slick-dots {
      display: flex;
      position: absolute;
      bottom: 17px;
      right: 14px;
      gap: 3px;
      li {
        display: flex;
        padding: 7px 3px;
        &.slick-active {
          button {
            background-color: $default;
          }
        }
      }
      button {
        width: 7px;
        height: 7px;
        background-color: #fff;
        border-radius: 50%;
        font-size: 0;
        transition: all 0.1s linear;
      }
    }
  }
  &__img {
    object-fit: cover;
    height: 343px;
    width: 100%;
  }
  &__content {
    margin-bottom: 70px;
    p {
      font-size: 16px;
      margin-bottom: 11px;
    }
  }
  &__name {
    @extend %mont-500;
    font-size: 40px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  &__box {
    display: flex;
    gap: 10px;
    margin-bottom: 22px;
  }
  .jq-ry-container {
    padding: 0;
  }
  .product__rating {
    padding: 0 0 0 3px;
  }
  &__link {
    display: block;
    width: max-content;
    @extend %mont-500;
    font-size: 10px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid $default;
  }
  &__details-link {
    margin-bottom: 23px;
  }
  &__price {
    @extend %neue-400;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 21px;
  }

  .jq-number {
    margin-bottom: 11px;
  }

  // select
  &__count {
    @extend %neue-400;
    font-size: 16px;
    color: $default;
    text-transform: uppercase;
  }
  &__color {
    margin-bottom: 11px;
  }
  .jq-selectbox__select-text {
    padding-left: 24px;
  }
  &__option {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
  &__option--limestone::before {
    background-color: #6a6b66;
  }
  &__option--ivory::before {
    background-color: #d3cfc4;
  }
  &__option--honey::before {
    background-color: #df9951;
  }
  // ---------

  &__form-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__btn {
    @extend %btn;
    width: 100%;
    padding: 13px;
  }
  &__save-btn {
    padding: 0 12px;
    height: 40px;
    background-image: url("../images/icons/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__details {
    margin-bottom: 70px;
  }
  &__title {
    @extend %mont-500;
    font-size: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
  }
  &__details {
    margin-bottom: 45px;
  }
  &__info-box {
    padding: 25px 0;
    border-top: 1px solid $light-gray;
    p {
      font-size: 16px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  &__info-inner {
    p {
      font-size: 16px;
    }
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
  }
  &__dimensios-item {
    font-size: 16px;
    padding-left: 15px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1px;
      width: 6px;
      height: 6px;
      background-color: $default;
      border-radius: 50%;
    }
  }
  &__reviews {
    margin-bottom: 45px;
  }
}

.review {
  &__author {
    @extend %mont-500;
    font-size: 18px;
    margin-bottom: 8px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &__title {
    @extend %mont-700;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__date {
    @extend %mont-500;
    font-size: 15px;
    color: $gray;
  }
}

.might-like {
  margin-bottom: 70px;
}

.might-like__title,
.recently__title {
  @extend %neue-300;
  font-size: 25px;
  letter-spacing: 0.04em;
  margin-bottom: 35px;
  text-align: center;
}

//----------- cart -----------

.cart {
  padding-top: 30px;
  &__title {
    font-size: 20px;
    letter-spacing: -0.01em;
    margin-bottom: 13px;
  }
  &__link {
    @extend %mont-500;
    font-size: 10px;
    text-transform: uppercase;
    color: $default;
    letter-spacing: 0.12em;
    padding-bottom: 1px;
    border-bottom: 1px solid $default;
    display: block;
    width: max-content;
    margin-bottom: 28px;
  }
  &__tab-wrapper {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }
  &__tab-list {
    padding: 10px 0;
    display: flex;
  }
  &__tab-item {
    @extend %mont-500;
    font-size: 12px;
    text-transform: uppercase;
    &:not(:first-child) {
      display: none;
    }
  }
  &__form {
    padding-bottom: 70px;
    p {
      font-size: 11px;
      color: #c4c4c4;
    }
  }
  &__items {
    margin-bottom: 20px;
  }
  &__item {
    padding: 30px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }
  &__inner {
    display: flex;
    gap: 22px;
    position: relative;
  }
  &__img-box {
    position: relative;
  }
  &__img {
    object-fit: cover;
    width: 138px;
    height: 203px;
  }
  &__info {
    margin-top: 20px;
  }
  &__descr {
    margin-bottom: 18px;
  }
  &__name {
    // @extend %mont-500;
    font-size: 13px;
    margin-bottom: 5px;
    max-width: 105px;
  }
  &__color-wrapper {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
  }
  &__color {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    &--green {
      background-color: #605c37;
    }
    &--bone {
      background-color: #dfc9bc;
    }
    &--brown {
      background-color: #7e4933;
    }
  }
  .jq-number {
    margin-bottom: 18px;
  }
  &__price-box {
    @extend %neue-400;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 118px;
    margin-left: -22px;
  }
  &__old-price {
    font-size: 11px;
    text-decoration: line-through;
    color: $light-gray;
    & + .cart__price {
      color: #c7011c;
    }
  }
  &__price {
    font-size: 13px;
  }
  &__item-total-price {
    font-size: 11px;
    color: $gray;
  }
  &__remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/cross.svg");
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: center;
    &::before {
      content: "";
    }
  }
  &__shipping-wrapper {
    margin-bottom: 21px;
  }
  &__shipping {
    @extend %mont-500;
    font-size: 13px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
  }
  .jq-selectbox__select {
    padding-left: 16px;
  }
  .jq-selectbox__select-text {
    padding-left: 106px;
    position: relative;
    &::before {
      content: "Shipping to:";
      position: absolute;
      left: 0;
      color: $gray;
      letter-spacing: 0;
    }
  }
  .jq-selectbox li {
    padding: 6px 15px 6px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  &__total-names,
  &__total-prices {
    display: grid;
    grid-auto-rows: max-content;
    gap: 15px;
    font-size: 13px;
  }
  &__total-price {
    @extend %neue-400;
    letter-spacing: 0.02em;
  }
  &__checkout-btn {
    @extend %btn;
    @extend %mont-400;
    width: 100%;
  }
}

//----------- subscribe -----------

.subscribe {
  padding: 70px 0;
  &__form {
    @extend %mont-500;
    p {
      line-height: 1.4;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  &__input {
    font-size: 14px;
    background-color: $main-gray;
    border: none;
    padding: 15px 17px;
    margin-bottom: 14px;
    width: 100%;
    &::placeholder {
      color: $gray;
    }
  }
  &__btn {
    @extend %btn;
    font-size: 14px;
    width: 100%;
  }
}

//----------- footer -----------

.footer {
  background-color: $black;
  color: $main-gray;
  padding: 38px 0 20px;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__brand {
    display: none;
    p {
      max-width: 152px;
      font-size: 15px;
      margin-bottom: 19px;
    }
  }
  &__logo {
    display: inline-block;
    margin-bottom: 7px;
  }
  &__pay {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__pay-logo {
    &--visa {
      width: 27px;
      height: 9px;
    }
    &--paypal {
      width: 45px;
      height: 13px;
    }
    &--mastercard {
      width: 25px;
      height: 16px;
    }
  }
  &__nav-box {
    width: 100%;
    border-bottom: 1px solid $main-gray;
    margin-bottom: 19px;
  }
  &__title {
    @extend %mont-500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 4px 4px 8px 7px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 4px;
      width: 15px;
      height: 15px;
      background-image: url("../images/icons/plus.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.footer__title--open {
      &::before {
        background-image: url("../images/icons/minus.svg");
      }
    }
  }
  &__nav {
    display: none;
    padding: 10px 0 18px 7px;
  }
  &__item {
    font-size: 15px;
  }
  &__link {
    display: block;
    padding: 12px 0;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__locator-link-box {
    padding-left: 29px;
    position: relative;
    min-height: 24px;
    margin-top: 55px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/location.svg");
    }
  }
  &__locator-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @extend %mont-500;
    min-height: 24px;
    font-size: 13px;
    margin-top: 40px;
    align-self: flex-start;
    padding-left: 29px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/location.svg");
    }
    &::after {
      content: "";
      display: block;
      margin-top: 1px;
      height: 1px;
      background-color: $main-gray;
    }
  }
  .socials {
    margin-top: 82px;
  }
  &__copy {
    margin-top: -19px;
    font-size: 8px;
  }
}

.socials {
  display: flex;
  gap: 10px;
  &__link {
    display: block;
  }
}

@import "media";
